<template>
  <v-container id="integration" ref="container" fluid>
    <section>
      <v-row class="integration-row mt-3 main-row d-flex flex-nowrap">
        <v-col
          lg='2'
          md="3"
          sm='6'
          xs='12'
          v-for="(plan,index) in cardData"
          :key="index"
          class="mt-3 pl-3">
          <div class="rounded main-class">
            <v-card class="border rounded pl-2 py-2 ml-1" min-height="500" min-width="225" width="225">
              <div class="first-section py-2">
                <p class="caption text-left mb-0 purple--text accent-1 lighten-4"> You Pay</p>
                <span><h4 class="text-left purple--text accent-1 lighten-4"> {{ plan.price }} <small class="font-weight-thin">/month</small></h4></span>
                <p class="caption text--secondary text-left mb-0"> For 12 months + 5% VAT</p>
              </div>
              <v-divider />
              <div class="second-section py-2">
                <p class="caption text-left mb-0 blue--text lighten-4"> You Get</p>
                <span><h4 class="text-left blue--text lighten-4"> {{ plan.youGet }} </h4></span>
              </div>
              <v-divider />
              <div class="third-section py-2">
                <span><h4 class="text-left"><span v-if="plan.dataNeglect" class="text--disabled text-decoration-line-through">{{ plan.dataNeglect }}</span>{{ plan.data }} <small class="font-weight-thin text--secondary ml-1">{{ plan.dataDesc }}</small></h4></span>
                <span><h4 class="text-left"> {{ plan.talktime }} <small class="font-weight-thin text--secondary ml-1">{{ plan.talkTimeDesc }}</small></h4></span>
              </div>
              <v-divider />
              <div :class="{
                'forth-section': !plan.isLimited ,
                'limited-offer': plan.isLimited ,
                'py-4':true}">
                <template v-for="(benifit,indexB) in plan.benifits">
                  <span class="row px-2" :key="indexB"><v-icon size='10'>mdi-check</v-icon><h4 class="text-left"><small class="font-weight-thin text--secondary ml-1">{{ benifit }} </small></h4></span>
                </template>
              </div>
              <template v-if="plan.isLimited">
              <v-divider />
              <div class="fifth-section py-2">
                  <span class="pb-0"><v-chip class="chip-color text-left float-left my-0 pb-0" x-small>Limited time offer</v-chip></span><br />
                  <span><h4 class="text-left"><small class="font-weight-thin text--secondary"><span class="font-weight-bold">The Entertainer</span> on us for 12 months</small></h4></span>
              </div>
              </template>
              <v-divider />
              <div class="six-section py-2 border-top border-secondary">
              <v-row class="">
                <v-col cols="6">
                  <p class="caption text--secondary ml-1">What you get </p>
                </v-col>
                <v-col cols="6">
                  <v-btn outlined x-small color="#cb0de3">Select</v-btn>
                </v-col>
              </v-row>
              </div>
            </v-card>
          </div>
        </v-col>
      </v-row>
    </section>
  </v-container>
</template>

<script>
export default {
  name: "PlanCards",
  data() {
    return {
      cardData: [
        {
          id: "plan1",
          price: "AED 125",
          timePeriod: "For 12 months + 5% VAT",
          youGet: "Power Plan 125",
          dataNeglect: null,
          data: "4 GB",
          dataDesc: "National Data",
          talktime: "100",
          isLimited: false,
          talkTimeDesc: "Fliexi minutes",
          benifits: [
            'No Activation fee.Save AED 125',
            '4 GB free data on WiFi UAE'
          ]
        },
        {
          id: "plan2",
          price: "AED 200",
          timePeriod: "For 12 months + 5% VAT",
          youGet:"Power Plan 200",
          dataNeglect:13,
          data:" 26 GB",
          dataDesc:"Double National Data",
          talktime: "400",
          isLimited: true,
          talkTimeDesc: "Fliexi minutes",
          benifits:[
            'No Activation fee.Save AED 125',
            '15 GB free data on WiFi UAE',
            'Amazon Prime on us',
            'Carry over data to next month',
          ]
        },
        {
          id: "plan3",
          price: "AED 300",
          timePeriod: "For 12 months + 5% VAT",
          youGet:"Power Plan300",
          dataNeglect:25,
          data:" 50 GB",
          dataDesc:"Double National Data",
          talktime: "1020",
          isLimited: true,
          talkTimeDesc: "Fliexi minutes",
          benifits:[
            'No Activation fee.Save AED 125',
            '25 GB free data on WiFi UAE',
            'Amazon Prime on us',
            'Carry over data to next month',
            'Free internet Calling Pack',
          ]
        },
        {
          id: "plan4",
          price: "AED 500",
          timePeriod: "For 12 months + 5% VAT",
          youGet:"Power Plan 500",
          dataNeglect:50,
          data:" 100 GB",
          dataDesc:"Double National Data",
          talktime: "1500",
          isLimited: true,
          talkTimeDesc: "Fliexi minutes",
          benifits:[
            'No Activation fee.Save AED 125',
            '100 GB free data on WiFi UAE',
            'Amazon Prime on us',
            'Carry over data to next month',
            'Free internet Calling Pack',
            'Roaming 2 GB'
          ]
        },
        {
          id: "plan5",
          price: "AED 1000",
          timePeriod: "For 12 months + 5% VAT",
          youGet:"Power Plan 1000",
          dataNeglect:120,
          data:" Unlimited",
          dataDesc:"National Data",
          talktime: "Unlimited",
          isLimited: true,
          talkTimeDesc: "Fliexi minutes",
          benifits:[
            'No Activation fee.Save AED 125',
            '120 GB free data on WiFi UAE',
            'Amazon Prime on us',
            'Carry over data to next month',
            'Free internet Calling Pack',
            'Roaming 5 GB'
          ]
        }
      ]
    };
  }
  };
</script>
<style scoped lang="scss">
@import '../stylesheets/_variable.scss';
  .main-row{
    overflow-x: scroll;
  }
  .col-class{
    margin-left: -40px;
  }
  .main-row::-webkit-scrollbar {
    display: none;
  }
  .main-row {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  .forth-section{
    height: 245px;
  }
  .limited-offer{
    height: 180px;
  }
  .chip-color{
   background:linear-gradient(to right, $pink, rgba(118, 75, 162, 0.5)) !important;
  }
  .main-class{
    background-image: linear-gradient(to bottom left, $white, $pink, $indigo, $blue);
    width: 225px;
  }
</style>
